<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span translate="pages.tabs.title"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">
        <span translate="pages.tabs.title"></span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p padding>
    You are logged in as {{ username }}
    </p>
  </div>
</ion-content>